{%  extends "index.html" %}

{% block html_title %}
    РОБОТ-ПЫЛЕСОС {{ robot.name }}
{% endblock %}

{% block application %}
    <a href="{% url 'home' %}">Главная</a>
    <div>
        <h2>{{ robot.name }}</h2>
        {% if robot.photo %}
            <img src="{{ robot.photo.url }}" alt="{{ robot.name }}">
        {% endif %}
        <div>{{ robot.price }}</div>
        <div>{{ robot.description }}</div>
    </div>
    <h2>Заявка</h2>
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Отправить заявку">
    </form>
{% endblock %}

